<h3>Listado de Heroes</h3>

<div *ngIf="deletedHero; else heroDeleted">
    <h4>Heroe borrado: <small class="text-danger">{{ deletedHero }}</small></h4>
    
</div>

<ng-template #heroDeleted>
    <h5>No se ha borrado nada</h5>
</ng-template>

<button *ngIf="heroNames.length > 0"
        (click)="removeLastHero()"
        class="btn btn-outline-danger">
        Borrar Heroe
</button>

<ul class="mt-2 list-group">
    <li *ngFor="let hero of heroNames"
        class="list-group-item">
        {{ hero }}
    </li>
</ul>